.titlep {
  position: relative;
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  width: 1000px;
  background-color: #5cfad8;
  margin-top: 200px;
  margin-left: 100px;
  font-size: 24px;
  border: 3px solid #000000;
  bottom: 50px;
}

.foodp {
  position: absolute;
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  background-color: #5cfad8;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 24px;
  width: 1000px;
  border: 3px solid #000000;
}

.pfitnit {
  position: absolute;
  text-align: left;
  line-height: 1.1;
  padding: 10px;
  background-color: #5cfad8;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 24px;
  width: 1400px;
  border: 3px solid #000000;
}

.foodp2 {
  position: absolute;
  top: 1150px;
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  background-color: #5cfad8;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 24px;
  width: 1000px;
  border: 3px solid #000000;
}

.foodpright {
  position: absolute;
  top: 650px;
  right: 250px;
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  background-color: #5cfad8;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 24px;
  width: 1000px;
  border: 3px solid #000000;
}

.foodprightd {
  position: absolute;
  top: 1650px;
  right: 250px;
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  background-color: #5cfad8;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 24px;
  width: 1000px;
  border: 3px solid #000000;
}

h1 {
  margin-top: 100px;
  margin-left: 75px;
  font-size: 46px;
  background-color: #5cfad8;
  padding: 10px;
  border: 3px solid #000000;
}

.title {
  width: 410px;
}

.titlefitnit {
  width: 615px;
}

.medium {
  width: 400px;
}

.food {
  width: 550px;
}

.comfort {
  width: 1075px;
}

.imagetitle {
  position: absolute;
  top: 200px;
  right: 250px;
  border: 5px solid #000000;
}

.imageleft {
  position: absolute;
  top: 150px;
  right: 250px;
  border: 5px solid #000000;
}

.imageleftd {
  position: absolute;
  top: 1100px;
  right: 250px;
  border: 5px solid #000000;
}

.imageright {
  position: absolute;
  top: 650px;
  left: 100px;
  border: 5px solid #000000;
}

.imagerightd {
  position: absolute;
  top: 1650px;
  left: 100px;
  border: 5px solid #000000;
}

body {
  height: 1000px;
  background-color: #5cfad8;
  background-image: linear-gradient(rgb(158, 255, 234), rgb(189, 245, 255), rgb(167, 253, 239));
}

.big-container {
  padding: 0;
  margin: 100;
  list-style: ;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.container {
  
}

.text-box {
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  background-color: #5cfad8;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 24px;
  width: 1000px;
  border: 3px solid #000000;
}

.img-border {
  border: 5px solid #000000;
}

.dropdownbtn {
  background-color: #8dfce4;
  color: black;
  padding: 20px;
  font-size: 18px;
  }
  .dropdowndemo{
  position: fixed;
  display: block;
  right: 110px;
  top: 50px;
  }
  .dropdownlist-content {
  display: none;
  position: absolute;
  background-color: #8dfce4;
  min-width: 120px;
  z-index: 1;
  }
  .dropdownlist-content a {
  color: black;
  padding: 14px 18px;
  display: block;
  }
  .dropdownlist-content a:hover {background-color: lightcyan;}
  .dropdowndemo:hover .dropdownlist-content {display: block;}
  .dropdowndemo:hover .dropdownbtn {background-color: #8dfce4;}
