.titlep {
  position: relative;
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  width: 1000px;
  background-color: #FFC0CB;
  margin-top: 200px;
  margin-left: 100px;
  font-size: 24px;
  border: 3px solid #000000;
  bottom: 50px;
}

.foodp {
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  width: 900px;
  background-color: #FFC0CB;
  margin-top: 200px;
  margin-left: 100px;
  font-size: 24px;
  border: 3px solid #000000;
}

.foodpright {
  position: absolute;
  right: 205px;
  top: 600px;
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  width: 900px;
  background-color: #FFC0CB;
  margin-top: 200px;
  margin-left: 100px;
  font-size: 24px;
  border: 3px solid #000000;
}

h1 {
  margin-top: 100px;
  margin-left: 100px;
  font-size: 46px;
  background-color: #FFC0CB;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 3px solid #000000;
}

.title {
  width: 200px;
}

.medium {
  width: 400px;
}

.food {
  width: 540px;
}

.large {
  width: 600px;
}

.imageleft {
  position: absolute;
  right: 205px;
  top: 200px;
  border: 5px solid #FFC0CB;
}

.imageright {
  position: absolute;
  left: 105px;
  top: 600px;
  border: 5px solid #FFC0CB;
}

body {
  height: 1000px;
  background-color: #cccccc;
  background-image: linear-gradient(rgb(189, 236, 255), rgb(221, 174, 243), rgb(247, 160, 160));
}

.dropdownbtn {
  background-color: #F4C2C2;
  color: black;
  padding: 20px;
  font-size: 18px;
  }
  .dropdowndemo{
  position: fixed;
  display: block;
  right: 110px;
  top: 50px;
  }
  .dropdownlist-content {
  display: none;
  position: absolute;
  background-color: #FFC0CB;
  min-width: 120px;
  z-index: 1;
  }
  .dropdownlist-content a {
  color: black;
  padding: 14px 18px;
  display: block;
  }
  .dropdownlist-content a:hover {background-color: lightcyan;}
  .dropdowndemo:hover .dropdownlist-content {display: block;}
  .dropdowndemo:hover .dropdownbtn {background-color: #FFC0CB;}
